a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 300;
  width: 100%;
}

.active {
  background-color: #126d73;
}

.app {
  position: relative;
}

.app .ArrowRight {
  position: absolute;
  top: 55%;
  left: -5px;
  font-size: 30px;
  opacity: 0.2;
  background-color: #126d73;
  border-radius: 0% 50% 50% 0%;
  color: #fff;
  display: none;
}

.app .ArrowLeft {
  position: absolute;
  top: 55%;
  right: 0px;
  font-size: 30px;
  background-color: #f6f6f6;
  color: #12848c;
  border-radius: 50% 0% 0% 50%;
  z-index: 9999;
  display: none !important;
}

.disArrowLeft{
  display: none !important;
}

@media (max-width: 768px) {
  .app .ArrowLeft,
  .app .ArrowRight {
    display: block !important;
  }
}


/* ********************Start scrollbar************************ */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #126d73;
  border: thin solid gray;
  border-radius: 10px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(2 107 134);
}
/* ********************End scrollbar************************ */